# Python
__pycache__/
*.py[cod]
*.so
.env
venv/
*.db
zz_agent.txt
celerybeat-schedule

# Java
target/
*.class
*.jar
*.war

# Node
node_modules/
dist/
.angular/

# IDEs
.vscode/
.idea/
*.swp

# Docker
*.log

data


