<div class="container">
    <header >
        <h1><img src="/android-chrome-192x192.png"
                                 alt="StaffTrace Logo" class="site-logo"> StaffTrace</h1>
        <div class="auth-info">
            <button *ngIf="!authService.isAuthenticated()" class="primary" (click)="openLogin()">
                Login
            </button>
            <button *ngIf="authService.isAuthenticated()" (click)="logout()">
                Logout
            </button>
        </div>
    </header>
    <nav>
        <a routerLink="/current" routerLinkActive="active">Current Status</a>
        <a routerLink="/daily" routerLinkActive="active">Daily Report</a>
        <a routerLink="/monthly" routerLinkActive="active">Monthly Summary</a>
    </nav>
    <main>
        <router-outlet></router-outlet>
    </main>
</div>

<app-login-modal
    *ngIf="showLoginModal"
    (closeModal)="closeLogin()"
    (loginSuccess)="handleLoginSuccess()">
</app-login-modal>
