<div class="container">
    <header >
        <h1><img src="/android-chrome-192x192.png"
                                 alt="StaffTrace Logo" class="site-logo"> StaffTrace</h1>
        <div class="auth-info">
            <button *ngIf="!authService.isAuthenticated()" class="primary" (click)="openLogin()">
                Login
            </button>
            <button *ngIf="authService.isAuthenticated()" (click)="logout()">
                Logout
            </button>
        </div>
    </header>
  <div class="nav-container">
    <nav>
        <a routerLink="/current" routerLinkActive="active">Current</a>
        <a routerLink="/daily" routerLinkActive="active">Daily</a>
        <a routerLink="/monthly" routerLinkActive="active">Monthly</a>
        <a routerLink="/about" routerLinkActive="active">About</a>

    </nav>
    </div>
    <main>
        <router-outlet></router-outlet>
    </main>
    <footer>
      <p>© 2025 StaffTrace - Developed by <a href="https://ivanteixeira.dev" target="_blank" rel="noopener noreferrer">Ivan Teixeira</a></p>
    </footer>
</div>

<app-login-modal
    *ngIf="showLoginModal"
    (closeModal)="closeLogin()"
    (loginSuccess)="handleLoginSuccess()">
</app-login-modal>
